@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.wrapper-1 {
    background-position: center;
    background-size: cover;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1) 
    ),
    url('wp5044934.jpg');
    min-height: 100vh;
    max-height: 100vh;
}

img{
    width: 100%;
    display: flex;
    mix-blend-mode: multiply;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1vw;
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Protest Riot';
}

nav {
    max-width: 300vh;
    margin: auto;
    padding: 2vh 1vw;
    display: flex;
    background-color: snow;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    max-height: 100px;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.contacts a {
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.6vw;
}

.contacts a:hover {
    transition: .3s;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9100, 0 0 40px #ff9100, 0 0 70px #ff9100, 0 0 80px #ff9100, 0 0 100px #ff9100, 0 0 150px #ff9100;
}

.content h1 {
    font-size: 2.1vw;
    line-height: 7vh;
    font-weight: 100;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9100, 0 0 40px #ff9100, 0 0 70px #ff9100, 0 0 80px #ff9100, 0 0 100px #ff9100, 0 0 150px #ff9100;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.5vw;
    color: black;
    font-family: 'Protest Riot';
    background-color: hsl(195, 53.3%, 79%);
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.9s ease;
    margin-top: 4vh;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9100, 0 0 40px #ff9100, 0 0 70px #ff9100, 0 0 80px #ff9100, 0 0 100px #ff9100, 0 0 150px #fff;
}

.btn:hover {
    background-color: hsl(195, 53.3%, 50%);
}

.container {
    max-width: 90vw;
    margin: auto;
    padding: 10vh;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

.world {
    margin: 0;
    padding: 0;
    margin-bottom: 8vh;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.heading h2 {
    font-size: 2.5vw;
    margin-bottom: 7vh;
    position: relative;
}

.heading h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin:  0 auto;
    background-color: #4caf50;
}

.about-content h3 {
    font-size: 2vw;
    margin-bottom: 1vh;
}

.about-content h4 {
    font-size: 3vw;
    margin-bottom: 3vh;
}

.about-content p {
    font-size: 1.5vw;
    color: #666;
}

.about-content h5 {
    font-size: 1.5vw;
    color: #666;
    font-weight: 100;
    padding-top: 1vh;
}

.about-image img {
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}

.wrapper-2 {
   width: 80%;
   margin: 0 auto;
   padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 4vw;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content{
    flex: 1;
}

.wrapper-4 {
    background-color: #f0f0f0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1vh;
}

.heading-4 h1 {
    text-align: center;
    padding-top: 5vh;
    font-size: 2.5rem;
}

.heading-4::after {
    content: '';
    display: block;
    width: 11%;
    height: 3.4px;
    background-color: #4caf50;
    margin: auto;
}

.card {
    width: 290px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10vh;
}

.card img {
    width: 130%;
    height: 20vh;
    transition: 0.5s ease;
}

.card img:hover {
    transform: scale(1.2);
}

.card-content {
    padding: 1.6vw;
}

.card-content h3 {
    font-size: 1.8vw;
    margin-bottom: 8px;
}

.card-content p {
    color: #666;
    font-size: 1.2vw;
    line-height: 1.3;
}

.wrapper-5 {
    padding: 2rem;
    position: relative;
    background-color: snow;
    z-index: 1;
}

.slider-wrapper {
    position: relative;
    width: 70%;
    margin: 0 auto;
    z-index: 2;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    scrollbar-width: none;
    z-index: 2;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    z-index: 3;
}

header h2 {
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 5vh;
    color: black;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: tomato;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.green-line {
    width: 8vw;
    height: .5vh;
    background-color: #4caf50;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
}
  
  .wrapper-6{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  form{
    background: rgba(27,31,34,0.80);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
  }
  
  form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
    color: white;
  }
  
  form .half{
    display: flex;
    justify-content: space-between;
  }
  
  form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
    color: white;
  }
  
  form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
  }

  .full textarea {
    color: white;
  }
  
  form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
    color: white;
  }
  
  form .full{
    margin-bottom: 24px;
    color: snow;
  }
  
  form .full textarea{
    background: rgba(27,31,34,0.80);
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
  }

 .action input {
    color: white;
 }
  
  form .action{
    margin-bottom: 32px;
    color: white;
  }
  
  form .action input{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
  }
  
  form .action input[type="submit"]{
    background: white;
    color: black;
  }
  
  form .icons a{
    border: 1px solid white;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    width: 38px;
    margin-right: 10px;
    color: white;
  }

.full #ServiceOptions{
    height: 44px;
    border-radius: 4px;
    background: rgba(27,31,34,0.80);
    margin-bottom: 3vh;
    margin-top: 1vh;
    color: white;
    font-family: 'Protest Riot';
    font-size: 1rem;
    letter-spacing: 3px;
    border: 1px solid white;
    padding-left: 10px;
}
  
  form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
    background: rgba(255,255,255,0.075);
  }

#date {
    width: 150px;
    height: 44px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;
    color: white;
    font-size: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}
  
  @media (max-width: 480px){
    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 10px;
      width: 100%;
    }
  }

@media (max-width: 768px) {
    .green-line {
        width: 10%;
        top: 8vh;
    }
}

@media (max-width: 768px) {
    .slider-nav a {
        width: 9px;
        height: 9px;
    }

    .slider-nav  {
        bottom: 1rem;
    }

    header h2 {
        font-size: 1.2rem;
    }

    .slider-wrapper {
        width: 320px;
        z-index: 2;
    }
    .wrapper-5 {
        z-index: 1;
    }

    .slider {
        z-index: 2;
    }

    .slider img {
        z-index: 3;
    }
}

@media only screen and (max-width: 800px) {
    .heading {
        padding: 0 20px;
    }

    .heading h2 {
        font-size: 5vw;
    }

    .about-content p {
        font-size: 3vw;
        margin-bottom: 0px;
    }

    .about-content h3 {
        font-size: 4vw;
    }

    .about-content h4 {
        font-size: 4.5vw;
    }

    .about-content h5 {
        font-size: 3vw;
    }

    .wrapper-3 {
        padding: 0px;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 10px;
    }

    .contacts {
        margin-top: 15px;
    }

    .contacts  a {
        font-size: 4vw;
    }

    .container {
        text-align: center;
    }

    a {
        font-size: 3vw;
        color: white;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff9100, 0 0 40px #ff9100, 0 0 70px #ff9100, 0 0 80px #ff9100, 0 0 100px #ff9100, 0 0 150px #fff;
    }

    .content h1 {
        margin-top: 10vh;
        font-size: 3vw;
    }

    .btn {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 800px) {
    .card {
        margin: 4vh;
        width: 230px;
    }

    .wrapper-4 {
        width: 100vw;
    }

    .heading-4 h1 {
        font-size: 5vw;
    }

    .card-content h3 {
        font-size: 4.5vw;
    }

    .card-content p {
        font-size: 3vw;
    }

    .heading-4::after {
        width: 26%;
    }
}
